<html>
<head>
  <title> Battle </title>
</head>
<body>
  <h1>Battle</h1>

  <%= @game.players[0].name %> is attacking <%= @game.players[1].name %>.

  <form action="/play" method="get">
    <input type="submit" value="ok">
  </form>




</body>
</html>
