<%= @player_1.name %> is attacking <%= @player_2.name %>.

<!-- <%= @player_2.name %> has <%= @player_2.hit_points %> hit points. -->

<form action="/play" method="get">
  <input type="submit" value="ok">
</form>
